@model JuNaJaCapstone.Models.PropertyDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Bedrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Bedrooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Bathrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Bathrooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Rent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Rent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Mortgage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Mortgage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.Rented)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Rented)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property.DateSold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.DateSold)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.Property.Notes)
        </dd>
       
        <dd>
            <ul>
            @foreach (var item in Model.Property.Notes)
            {
                <li>
                @Html.DisplayFor(modelItem => item.NoteText)
                    </li>
            }
                </ul>
            </dd>
        


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Property.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Add Note", "Create", "PropertyNotes", new { id = @Model.Property.PropertyId }, null)
</div>
