@model JuNaJaCapstone.Models.PropertyNote;

@{
    ViewData["Title"] = "Create";
}

<h2>Add Note</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NoteText" class="control-label"></label>
                <input asp-for="@Model.NoteText" class="form-control" />
                <span asp-validation-for="@Model.NoteText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateNoted" class="control-label"></label>
                <input asp-for="@Model.DateNoted" class="form-control" />
                <span asp-validation-for="@Model.DateNoted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.PropertyId" class="control-label" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
